@use "../../styles/variables.scss" as *;
@use "../../styles/rwd.scss" as *;

.navbar {
  display: flex;
  gap: 64px;
  font-weight: $medium;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: white;
  opacity: 0.95;
  position: sticky;
  top: 0;
}

.hamburger {
  display: none;
  cursor: pointer;
}

@include s {
  .navbar {
    justify-content: space-between;
    gap: 20px;
  }
}

@include xs {
  .navbar {
    display: none;
  }

  .hamburger {
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    justify-content: left;
    align-items: center;
    img {
      height: 48px;
      width: 48px;
    }

    background-color: white;
    opacity: 0.95;
    position: sticky;
    top: 0;
  }
}

@include xxs {
  .navbar {
    display: none;
  }

  .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
  }
}
