@import "src/styles/variables.scss";

.tag {
  border-style: solid;
  border-color: $gray;
  border-width: 1px;
  border-radius: 24px;

  padding: 2px 16px;

  min-width: 24px;
  text-align: center;

  font-size: 14px;
}